
:root {
--first-title-color: #FFFFFF;
--second-title-color: #2E2F42;
--text-color: #434455;
}

h1,
h2,
h3,
p {
    margin: 0;}

ul {
        margin: 0;
        padding-left: 0;
        padding-inline: 0;
        display: block;
    }

img {
    display: block;
}

body{
    font-family: Roboto, sans-serif;  
}

/*----Header----*/

logo {
    color: var(--title-text-color);
}

.list {
    list-style: none;}

.link{
    text-decoration: none;
}

.container {
    width: 1158;
    margin-left: 156px;
    margin-right: 156px;
    align-items: center;

    outline: 1px solid red;}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    outline: 1px solid red;}

.header-container { 
display: flex;
align-items: center;
}     

.header-logo { 
    margin-right: 77px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #2E2F42;
}

.header-logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.header-item {
    color: #2E2F42;
} 

.header-nav {
    margin-right: auto;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-link {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2E2F42;
    }

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
    }   

.header-link:hover,
.header-link:footer { 
    color: #4D5AE5;;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.header-mail,
.header-tel {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/*----Main----*/

.main-container {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    background: #2E2F42;
}

.main-title {
    width: 494px;
    height: 120px;
    text-align: center;
    margin-bottom: 48px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
}

.main-btn {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 106px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}

.about {
    padding-top: 120px;
    padding-bottom:  120px;
}

.about-catalog {
    display: flex;
    gap: 24;
}

.about-title {
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.about-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.product-title {
    text-align: center;
    margin-bottom: 72px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.product-catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 24;
}

/*---- TEAM----*/

.team {
    padding-top: 120px;
    background: #F4F4FD;
    text-align: center;
}

.team-title {
    padding-top: 120px;
    padding-bottom: 72px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.team-catalog {
    display: flex;
    flex-wrap: wrap;
    width: calc ((100% - 72) /4);
}

.team-item {
    background: #FFFFFF;
}

.team-tit,
.menu-tit {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.team-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 24px;
}  

.filters-link {
    justify-content: center;
    margin-bottom: 71px;
    background: #FFFFFF;
    }  

.filters-btn {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
    color: #FFFFFF;
    background: #4D5AE5;}



.menu {
    padding-top: 97px;
}

.menu-catalog {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48;
    padding-top: 71px;
}



.menu-tit,
.menu-text {
    padding-left: 16px;}

.menu-text {
    padding-bottom: 32px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

/*----Foooter----*/

.footer {
    display: block none;
    background: #2E2F42;
    margin: 0;
}

.footer-block {
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 110px;
    padding-left: 156px;
    row-gap: 16px;

    outline: 1px solid white;

}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
    margin: 0;
}

.footer-logo-web{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    margin: 0;
}

.footer-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    margin: 0;
}